<h1 class="my-4">Product Manager</h1>

<br>
<div class="row">
    <div class="col-lg-11">

    
<table class="table table-white">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope="col">Desc</th>
            <th scope="col">Image</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            <th scope="row">
                <p>{{product.id}}</p>
            </th>
            <td>
                <p>{{product.name}}</p>
            </td>
            <td>
                <p>${{product.price}}</p>
            </td>
            <td>
                <p>{{product.desc}}</p>
            </td>
            <td>
                <p><img style="width: 100px; height: 70px;" src="{{product.img}}" alt=""></p>
            </td>
            <td>
                <button style="width: 71.63px; " class="btn btn-primary ">Edit</button>
                <br><br>
                <button class="btn btn-primary">Delete</button></td>
        </tr>
    </tbody>
</table>
<ngb-pagination
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="products.length"></ngb-pagination>
</div>
</div>