<div class="w3-content w3-container w3-padding-64" id="about">
    <hr />
    <h3 class="w3-center" style="text-align: center;">Popular Item</h3>
    <hr />
    <div class="row">
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top"
                        src="https://www.converse.com.vn/pictures/catalog/products/sneakers/chuck-taylor-all-star/566731v/566731standard.jpg" alt="">
                </a>
                <div class="card-body" style="text-align: center;">
                    <h4 class="card-title">
                        <a href="#" style="color: black;">Chuck Taylor All Star VLTG - Back to Earth Hi Top</a>
                    </h4>
                    <p class="card-text">#567926C</p>
                    <h5>VND 1,600,000</h5>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top"
                        src="https://www.converse.com.vn/pictures/catalog/products/sneakers/chuck-taylor-all-star/567046v/567046standard.jpg" alt="">
                </a>
                <div class="card-body" style="text-align: center;">
                    <h4 class="card-title">
                        <a href="#" style="color: black;">Chuck Taylor All Star VLTG - Back to Earth Hi Top</a>
                    </h4>
                    <p class="card-text">#946354R</p>
                    <h5>VND 1,600,000</h5>                   
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top"
                        src="https://www.converse.com.vn/pictures/catalog/products/sneakers/chuck-taylor-all-star/567128v/567128C1.jpg" alt="">
                </a>
                <div class="card-body" style="text-align: center;">
                    <h4 class="card-title">
                        <a href="#" style="color: black;">Chuck Taylor All Star VLTG - Back to Earth Low Top</a>
                    </h4>
                    <p class="card-text">#567128V</p>
                    <h5>VND 1,500,000</h5>                   
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top"
                        src="https://www.converse.com.vn/pictures/catalog/products/sneakers/chuck-taylor-all-star/567127v/567127C1.jpg" alt="">
                </a>
                <div class="card-body" style="text-align: center;">
                    <h4 class="card-title">
                        <a href="#" style="color: black;">Chuck Taylor All Star VLTG - Back to Earth Hi Top</a>
                    </h4>
                    <p class="card-text">#567127V</p>                    
                    <h5>VND 1,600,000</h5>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top"
                        src="https://www.converse.com.vn/pictures/catalog/products/sneakers/cons/567087c/567087standard.jpg" alt="">
                </a>
                <div class="card-body" style="text-align: center;">
                    <h4 class="card-title">
                        <a href="#"style="color: black;">Converse All-Court VLTG - Back to Earth Low Top</a>
                    </h4>
                    <p class="card-text">#567087C</p>
                    <h5>VND 1,700,000</h5>                   
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top"
                        src="https://www.converse.com.vn/pictures/catalog/products/sneakers/chuck-taylor-all-star/566728v/566728standard.jpg" alt="">
                </a>
                <div class="card-body" style="text-align: center;">
                    <h4 class="card-title">
                        <a href="#" style="color: black;">Chuck Taylor All Star Precious Metals Low Top</a>
                    </h4>
                    <p class="card-text">#566728V</p>                    
                    <h5>VND 1,500,000</h5>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top"
                        src="https://www.converse.com.vn/pictures/catalog/products/sneakers/chuck-taylor-all-star/566724v/566724standard.jpg" alt="">
                </a>
                <div class="card-body" style="text-align: center;">
                    <h4 class="card-title">
                        <a href="#" style="color: black;">Chuck Taylor All Star Precious Metals Hi Top</a>
                    </h4>
                    <p class="card-text">#566724V</p>
                    <h5>VND 1,600,000</h5>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top"
                        src="https://www.converse.com.vn/pictures/catalog/products/sneakers/chuck-taylor-all-star/567311c/567311standard.jpg" alt="">
                </a>
                <div class="card-body" style="text-align: center;">
                    <h4 class="card-title">
                        <a href="#" style="color: black;">Chuck Taylor All Star Love Fearlessly Low Top</a>
                    </h4>
                    <p class="card-text">#567311C</p>
                    <h5>VND 1,500,000</h5>                   
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top"
                        src="https://www.converse.com.vn/pictures/catalog/products/sneakers/chuck-taylor-all-star/567310c/567310Cstandard.jpg" alt="">
                </a>
                <div class="card-body" style="text-align: center;">
                    <h4 class="card-title">
                        <a href="#" style="color: black;">Chuck Taylor All Star Love Fearlessly Hi Top</a>
                    </h4>
                    <p class="card-text">#567310C</p>
                    <h5>VND 1,600,000</h5>                  
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top"
                        src="https://www.converse.com.vn/pictures/catalog/products/sneakers/chuck-taylor-all-star/567309c/567309Cstandard.jpg" alt="">
                </a>
                <div class="card-body" style="text-align: center;">
                    <h4 class="card-title">
                        <a href="#" style="color: black;">Chuck Taylor All Star Love Fearlessly Hi Top</a>
                    </h4>
                    <p class="card-text">#567309C</p>
                    <h5>VND 1,600,000</h5>                  
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top"
                        src="https://www.converse.com.vn/pictures/catalog/products/sneakers/chuck-taylor-all-star/567157c/567157standard.jpg" alt="">
                </a>
                <div class="card-body" style="text-align: center;">
                    <h4 class="card-title">
                        <a href="#" style="color: black;">Chuck Taylor All Star Love Fearlessly Low Top</a>
                    </h4>
                    <p class="card-text">#567157C</p>
                    <h5>VND 1,500,000</h5>                  
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top"
                        src="https://www.converse.com.vn/pictures/catalog/products/sneakers/chuck-taylor-all-star/567312c/567312standard.jpg" alt="">
                </a>
                <div class="card-body" style="text-align: center;">
                    <h4 class="card-title">
                        <a href="#" style="color: black;">Chuck Taylor All Star Lift Love Fearlessly Low Top</a>
                    </h4>
                    <p class="card-text">#567312C</p>
                    <h5>VND 1,600,000</h5>                  
                </div>
            </div>
        </div>
    </div>
</div>